<html>
   <body>
     <form action="http://localhost:5000/" method="POST">
        <header>
          <div class="container">
          <h1 class="logo" id="Title">Imantics.io</h1>
          </div>
          <div id="content">
            <img src="static/logo.jpeg" class ="ribbon"/>
          </div>
        </header>

        <style>
          #content {
              position: relative;
          }
          #content img {
              position: absolute;
              top: 0px;
              right: 0px;
              height: 140px;
              width: 220px;
          }
        </style>

        <h2>Choose one of the following options:</h2>

        <!-- Radio Buttons -->
        <input onClick="myFunc1()" type="radio" id="textin" name="text_image" value="text_image" checked>
        <label for="textin">Text</label><br>
        <input onClick="myFunc2()" type="radio" id="imagein" name="text_image" value="by_image">
        <label for="imagein">Image</label><br>

        <!-- Text Query Fields-->
        <h3>
          <div id="txtinput">
            <label for="title">Text Input: </label>
            <input type="text", id=title, name="text" size="33">
            <input type="submit">
          </div>
        </h3>
      </form>

        <!-- Image Query action = "http://localhost:5000/"-->
      <h3>
        <div id="image_input">
          <form action="http://localhost:5000/upload" method="POST"
          enctype="multipart/form-data">
            <label for="title">Image Input: </label>
            <input type = "file" name = "File" />
            <input type = "submit" value="Submit"/>
          </form>
        </div>
      </h3>


        <!-- JS to hide fields -->
      <script>
        var y = document.getElementById("image_input");
        y.style.display = "none"

        function myFunc1() {
          var x = document.getElementById("txtinput");
          var y = document.getElementById("image_input");
          x.style.display = "block";
          y.style.display = "none"
        }

        function myFunc2() {
          var x = document.getElementById("txtinput");
          var y = document.getElementById("image_input");
          x.style.display = "none";
          y.style.display = "block"
        }

      </script>
      
      <!-- Drop down for clusters-->
      <form>
        <select name="list" id="list" accesskey="target">
            <option value='none' selected>Choose a cluster</option>
            <option value="query_by_cluster.html">Dino 200 Clusters</option>
            <option value="query_by_cluster_v2.html">Dino 250 Clusters</option>
        </select>
        <input type=button value="Go" onclick="goToNewPage()" />
      </form>

      <script type="text/javascript">
        function goToNewPage()
        {
            var url = document.getElementById('list').value;
            if(url != 'none') {
                window.location = url;
            }
        }
      </script>

      <div id="dino_200">
        {% for key in dino_200 %}
          <h2 style="text-align:left" id="{{ key }}">{{ key }}
            <span style="float:right;"><a href="#Title">Return to Top</a>
            </span></h2>
          {% for value in dino_200[key] %}
            {% for url in links %}
              {% if value in url %} 
                <img src="{{ url }}" width=200, height=200/>
              {% endif %}
            {% endfor %}
          {% endfor %}
          <hr style="height:4px;border:none;color:#333;background-color:#333;">
        {% endfor %}
      </div>

   </body>
</html>