<html>
   <body>
     <form method="POST">
        <header>
          <div class="container">
          <h1 class="logo">Group 7 App</h1>
          </div>
        </header>

        <h2>Choose one of the following options:</h2>

        <!-- Radio Buttons -->
        <input onClick="myFunc1()" type="radio" id="textin" name="text_image" value="text_image" checked>
        <label for="textin">Text</label><br>
        <input onClick="myFunc2()" type="radio" id="imagein" name="text_image" value="by_image">
        <label for="imagein">Image</label><br>

        <!-- Text Query Fields-->
        <h3>
          <div id="txtinput">
            <label for="title">Text Input: </label>
            <input type="text", id=title, name="text" size="33">
            <input type="submit", value="Text Query">
          </div>
        </h3>

        <!-- Image Query-->
        <h3>
          <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
            <div id="image_input">
              <label for="title">Image Input: </label>
              <input type = "file" name = "file" />
              <input type = "submit"/>
            </div>
          </form>
        </h3>
        <!-- JS to hide fields-->
        <script>
          var y = document.getElementById("image_input");
          y.style.display = "none"

          function myFunc1() {
            var x = document.getElementById("txtinput");
            var y = document.getElementById("image_input");
            x.style.display = "block";
            y.style.display = "none"
          }

          function myFunc2() {
            var x = document.getElementById("txtinput");
            var y = document.getElementById("image_input");
            x.style.display = "none";
            y.style.display = "block"
          }
        </script>

     <!-- {% for url in links %} 
     <img src="{{ url }}" width=300, height=300/>
     {% endfor %} -->

    <img id='bezos' src="{{ user_image }}" width=300, height=300 />
   </body>
</html>

